body{
    background-color: #111;
    width: 100vw;
}

img{
    border-radius: 8px;
}

.frame{
    border: 3px solid #000;
    border-radius: 5px;
}

.bg-video{
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.bg-video::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        90deg,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,0.7) 50%,
        rgba(0,0,0,1) 100%
    );
}

.container{
    position: relative;
    z-index: 3;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container-left{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.score-box{
    width: 100%;
    padding: 30px;
    background-color: #fff;
    text-align: center;
}

.card-details{
    width: 100%;
    background-color: #fff;
    text-align: center;
    height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-name{
    font-size: 17px;
}

.card-type{
    font-size: 20px;
}

.container-right{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-section{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card-versus{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-in-field{
    border: 1px solid #fff;
    border-radius: 8px;
}

.versus-top{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.versus-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
}